@model StateInterface.Areas.Design.Models.RequestFormModel
<div class="row">
    <div class="col-xs-12">
        @* This is so that the navigation lines up when the recordsCenterSelector is not part of the page *@
        <div class="recordsCenterSelectorPlaceHolder"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a data-bind="attr: { href: DesignHomeUrl }">Design</a></li>
            <li><a data-bind="attr: { href: FormsHomeUrl }">Forms</a></li>
            <li class="active"><span data-bind="html: FormId"></span></li>
        </ol>
        <div data-bind="template: { name: 'properties-template' }"></div>
        <div data-bind="template: { name: 'fields-template' }"></div>
        <div data-bind="template: { name: 'transactions-template' }"></div>
    </div>
</div>
<script type="text/javascript">
    var initialData = @Html.Raw(Model.InitialData)
</script>
@Html.Partial("_propertiesTemplate")
@Html.Partial("_fieldsTemplate")
@Html.Partial("_transactionsTemplate")
@Html.Partial("_criteriaTemplate")
@Html.Partial("_applicationAssociationModal")

@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_form_details")
}