@model StateInterface.Areas.Design.Models.TransactionSnippetModel
<div class="row">
    <div class="col-xs-12">
        @* This is so that the navigation lines up when the recordsCenterSelector is not part of the page *@
        <div class="recordsCenterSelectorPlaceHolder"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a data-bind="attr: { href: DesignHomeUrl }">Design</a></li>
            <li><a data-bind="attr: { href: TransactionsHomeUrl }">Transactions</a></li>
            <li class="active"><span data-bind="html: TokenName"></span></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div data-bind="template: { name: 'snippetProperties-template' }"></div>
        <div data-bind="template: { name: 'snippetField-template' }"></div>
    </div>
</div>
<script type="text/javascript">
    var initialData = @Html.Raw(Model.InitialData)
</script>
@Html.Partial("_snippetPropertiesTemplate")
@Html.Partial("_snippetFieldTemplate")
@Html.Partial("_snippetFieldModal")
@Html.Partial("_snippetPropertiesModal")
@Html.Partial("_confirmDeleteModal")

@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_snippetfield")
}