@model StateInterface.Areas.Design.Models.HomeModel
@{
    ViewBag.Title = "Designer Home";
}
<div class="row">
    <div class="col-xs-12">
        <h2 class="padLeft">Design</h2>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-xs-3">
        <p class="text-center">
            <a title="Forms" href="@Url.Action("Index", "Form")" class="dashboardIcon glyphicon glyphicon-file glyphicon-white"></a><br /><br /><span class="lead">Forms</span>
        </p>
    </div>
    <div class="col-xs-3">
        <p class="text-center">
            <a title="Fields" href="@Url.Action("Index", "Field")" class="dashboardIcon glyphicon glyphicon-tag glyphicon-white"></a><br /><br /><span class="lead">Fields</span>
        </p>
    </div>
    <div class="col-xs-3">
        <p class="text-center">
            <a title="Lists" href="@Url.Action("Index", "List")" class="dashboardIcon glyphicon glyphicon-list glyphicon-white"></a><br /><br /><span class="lead">Lists</span>
        </p>
    </div>
    <div class="col-xs-3">
        <p class="text-center">
            <a title="Snippets" href="@Url.Action("Index", "Transaction")" class="dashboardIcon glyphicon glyphicon-picture glyphicon-white"></a><br /><br /><span class="lead">Transactions</span>
        </p>
    </div>
</div>
<script type="text/javascript">
    var initialData = @Html.Raw(Model.InitialData)
</script>

@section scripts{
    @Scripts.Render("~/bundles/stateinterface_design_home")
}